name: ARM tests

on:
    push:
        branches:
            - main
    pull_request:
        branches:
            - main
jobs:
    windows:
        name: Rust ARM
        runs-on: windows-11-arm
        env:
            RUNNER_OS: "windows"
            CI: "1"
        steps:
            - name: Checkout branch
              uses: actions/checkout@v6
            - uses: nuget/setup-nuget@v2
              with:
                nuget-version: '5.x'
            - name: Cargo build
              shell: bash -l {0}
              run: cargo build -vv --features conpty
            - name: Cargo test
              # shell: bash -l {0}
              run: cargo test --features conpty -- --test-threads=1
            # Enable this to get RDP access to the worker.
            # - name: Download
            #   # if: ${{ failure() }}
            #   run: Invoke-WebRequest https://bin.ngrok.com/c/bNyj1mQVY4c/ngrok-v3-stable-windows-arm64.zip -OutFile ngrok.zip
            # - name: Extract
            #   # if: ${{ failure() }}
            #   run: Expand-Archive ngrok.zip
            # - name: Auth
            #   # if: ${{ failure() }}
            #   run: .\ngrok\ngrok.exe config add-authtoken 1raaG4z7gsaCRlLw8cRkUWW6ItF_2LWTUFxXwd6UeeJNAAAci
            # - name: Enable TS
            #   # if: ${{ failure() }}
            #   run: Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server'-name "fDenyTSConnections" -Value 0
            # - run: Enable-NetFirewallRule -DisplayGroup "Remote Desktop"
            #   # if: ${{ failure() }}
            # - run: Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server\WinStations\RDP-Tcp' -name "UserAuthentication" -Value 1
            #   # if: ${{ failure() }}
            # - run: Set-LocalUser -Name "runneradmin" -Password (ConvertTo-SecureString -AsPlainText "P@ssw0rd!" -Force)
            #   # if: ${{ failure() }}
            # - name: Create Tunnel
            #   # if: ${{ failure() }}
            #   run: .\ngrok\ngrok.exe tcp 3389
